List a  space
<br>
<form action="/listings/new" method="post">
  Name <input type='text' name='name'>
  Location <input type='text' name='location'>
  Description<input type='text' name='description'>
  Price <input type='integer' name='price'>
  Available From <input type='text' name='available_from'>
  Available To <input type='text' name='available_to'>
  <input type='submit' value='Add'>
</form>
