List a  space
<br>
<form action="/listings/new" method="post">
  Name <input type='text' name='name' required />
  Location <input type='text' name='location' required />
  Description<input type='text' name='description' required />
  Price <input type='integer' name='price' required />
  Available From <input type='date' name='available_from' required />
  Available To <input type='date' name='available_to' required />
  <input type='submit' value='Add'>
</form>
