<% if @logged_in %>
  <div style="float: right;">
    <form action='/sessions' method="post">
      <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout"/>
    </form>
  </div>

  <div style="display: flex;">
    <form action='/listings' method='get'>
        <input type="submit" value="View Listings"/>
    </form>
  </div>


<% else %>
  <div style="float: right;">
    <form action='/users/new' method='get'>
        <input type="submit" value="Sign Up"/>
    </form>

    <form action='/sessions/new' method='get'>
        <input type="submit" value="Login"/>
    </form>
  </div>

  <div style="display: flex;">
    <form action='/listings' method='get'>
        <input type="submit" value="View Listings"/>
    </form>
  </div>


<% end %>


List a  space
<br>
<form action="/listings/new" method="post">
  Name <input type='text' name='name' required />
  Location <input type='text' name='location' required />
  Description<input type='text' name='description' required />
  Price <input type='integer' name='price' required />
  Available From <input type='date' name='available_from'  min="<%= "#{DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day).strftime("%Y-%m-%d")}" %>" required />
  Available To <input type='date' name='available_to' min="<%= "#{DateTime.new(DateTime.now.year, DateTime.now.month, DateTime.now.day + 1).strftime("%Y-%m-%d")}" %>" required />
  <input type='submit' value='Add'>
</form>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
