.lisiting {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 0;
}

form input:hover {
  background-color: #111;
}


/* body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  padding: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.peep {
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 0;

}

.message-header {
  background-color: lightgray;
  margin: 0;
  border-radius: 8px 8px 0 0;
  padding: 5px;
  border-bottom: 1px solid black;
}

.message-body {
  padding: 3px 5px 3px 5px;
}

.delete-peep {
  margin: 0 0 5px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
} */
